*.bak
*.reaper-theme.ini
.DS_Store
Thumbs.db
reaper-theme.ini
desktop.ini
installer/linux/dist/
installer/linux/build/
installer/linux/build-*/
installer/windows/dist/
installer/windows/payload/
installer/macos/dist/
installer/macos/build/
